<mat-card>
  <mat-card-header>
    <mat-card-title>Statistics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Total Sales: {{ totalSales }}</p>
    <p>Total Income: {{ totalIncome | currency:'CLP':'symbol-narrow' }} CLP</p>
  </mat-card-content>
</mat-card>
