<div class="app-container">
  <div class="map-container" appMap></div>
  <app-ticket-form [cities]="cities" (creation)="createTicket($event)"></app-ticket-form>
  <app-ticket-statistics [totalIncome]="statistics.income" [totalSales]="statistics.count" *ngIf="statistics">
  </app-ticket-statistics>
</div>
