<mat-card>
  <mat-card-header>
    <mat-card-title>Bus Ticket</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-control">
        <mat-form-field>
          <input matInput placeholder="Origin" aria-label="Origin" [matAutocomplete]="origin" formControlName="origin" required>
          <mat-autocomplete #origin="matAutocomplete" [displayWith]="displayCity">
            <mat-option *ngFor="let city of filteredOriginCities | async" [value]="city">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ticketForm.controls.origin.invalid">
            Please Select a City
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field>
          <input matInput placeholder="Destination" aria-label="State" [matAutocomplete]="destination" formControlName="destination" required>
          <mat-autocomplete #destination="matAutocomplete" [displayWith]="displayCity">
            <mat-option *ngFor="let city of filteredDestinationCities | async" [value]="city">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ticketForm.controls.destination.invalid">
            Please Select a City
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field>
          <input matInput type="number" placeholder="Price" formControlName="price" required>
          <mat-error *ngIf="ticketForm.controls.price.hasError('required')">
            Price is Required
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="ticketForm.invalid">
        Create Bus Ticket
      </button>
    </form>
  </mat-card-content>
</mat-card>
